:root {
    --lilais:#675fff ;
    --azul-claro: #B1F1FF;
    --cinza-escuro: #4E4E4E;
    --cinza: #BDBDBD;
    --cinza-claro: #E6E6E6;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    color: var(--cinza-escuro);
    
    
}
.secondary-color {
    color:var(--cinza);
}

body {
    background-color: var(--cinza-claro);
}

.rt-git {
    text-decoration: none;
}

/* header */
#logo {
    width: 250px;

}
.logo-container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

/*main */

.container-sm {
    display: flex;
    justify-content: center;
    align-items: center;

}



#card {
    width: 400px;
    text-align: center;
    padding: 10px;
    border: 0;

}

#img-card {
    width: 350px;
}

#btn-lilais{
    background-color: var(--lilais);
    width: 280px;
    font-weight: bolder;
    color: #fff;
    align-self: center;
    border: 0;
}

#btn-lilais:hover {
    background-color: #fff;
    color:  var(--lilais);
    border: 2px solid  var(--lilais);
}

/* footer */

.container-footer {
    display: flex;
    justify-content: center;
    align-items:end;
    margin-top: 30px;
}

.bi-github {
    color:  var(--lilais);
    font-size: 14pt;
    text-decoration: none;
}