header{
    background-color: gray;
    height: 300px;
}
.container{
    display: flex;
    justify-content: center;
    padding-top:80px;
}

.container-form-user {
    background-color: white;
    display:inline;
    width: 350px;
    height: 500px;
    margin: auto;
    align-items: center;
    padding: 30px;
    border: 2px solid rgb(31, 46, 255);
    border-bottom: 10px solid rgb(31, 46, 255);
    border-radius: 20px;
    justify-content: center
}

.form-login-user {
    display: flexbox;
    flex-direction: column;
}

.form-group{  
}

.btn-primary{
    margin: auto;
    width: auto;
    align-items: center;
}

.btn-login{
    display: inline;
}