:root {
    --lilais:#675fff ;
    --azul-claro: #B1F1FF;
    --cinza-escuro: #4E4E4E;
    --cinza: #BDBDBD;
    --cinza-claro: #E6E6E6;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}
h5{
    color: #675fff;
}
p{
    text-align: justify;
}

body{
    width: 100%;
    height: 100%;
}
header{
    height: 100px;

}
main{
    height: 800px;
    width: 100%;
    align-items: center;
    background-color: var(--cinza-claro);
    margin: 10px;
}
footer{
    text-align: center;
    color: #675fff;
    background-color: white;
}
.logo-vert{
    width: 400px;
    padding: 20px;
    margin: auto;
    display: block;
}
.container-fluid{
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}
.container-form{
    background-color: white;
    width: 800px;
    margin: auto;
    margin-top: 100px;
    padding: 30px 10px 30px 10px;
    align-items: center;
    justify-content: center;
    display:flex;
    flex-direction: column;
    gap: 2;
    box-shadow: 0px 10px 10px 0px  #c7c9d1;
    border-radius: 10px;
    border: 1px solid #675fff;
    border-top: 6px solid #675fff;
    border-bottom: 6px solid #675fff;
}
.row{
    max-width: 800px;
    padding: 10px 2px 10px 2px;
    margin: 10px 2px 10px 2px;
}
.col {
    max-width: 400px;
    width: 100px;
    margin: 2px;
}
.label-form-cad{
    padding: 0 0 0 10px;
}
.form-group{
    width: 350px;
    padding: 5px 2px 5px 2px;
    text-align: left;
}