:root {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #4E4E4E;
}

  
body {
}
main {
    background-color: #f9f9f9;
}
header {
    background-color:#f9f9f9;
    background-size: cover;
}

.container-fluid {
    background-color: rgb(255, 255, 255);
    background-size: cover;
    margin-top: auto;
    height: 700px;
    padding: 30px;
    display: flex;
}
.container {
    vertical-align: middle;
    margin: auto;
}

.card-home{
    width: 350px;
    padding-top: 100px;
    margin: auto;
    align-items: center;
    justify-content: center
}
.card-title-home{
    text-align: center;
}
.card-home img-media{
    image-resolution: 500px;
    size: 500px;
    align-items:center;
}

.card-title-home {
    text-align: center;
}
.card-text-body{
    text-align: justify;
    align-items:center;
}
.card-img-top{
    size: 100px;
    width: 50px;
}

.btn-primary {
    margin: auto;
}